{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "blog" %}

{% block title %}Admin - olirowan{% endblock %}

{% block app_content %}

    <div class="container post-text">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Admin Page
                </h3>
                <hr class="separator1">
                <h3>
                    Click to <a href="{{ url_for('createpost') }}">/createpost</a>
                </h3>
                <hr class="separator1">
                <h3>
                    Click to <a href="{{ url_for('run_db_backup') }}">/run_db_backup</a>
                </h3>
                <hr class="separator1">
                <h3>
                    Click to <a href="{{ url_for('manage_tags') }}">/manage_tags</a>
                </h3>
                <hr class="separator1">
                <hr class="separator1">
            </div>
        </div>
    </div>

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}

{% endblock %}
