{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "blog" %}

{% block title %}Blog - olirowan{% endblock %}

{% block app_content %}

    <div class="container post-text">
        <div class="row">
            <div class="col-md-12">
                <h2><br></h2>
                <h2>Blog Posts</h2>
                <hr class="separator1">
                <div class="row">
                    {% for entry in blogposts %}
                        <article class="media content-section">
                            <div class="col-2 col-sm-1 blog-icon">
                                <h2 class="fas {{ entry.icon }}"></h2>
                            </div>
                            <div class="col-10">
                                <div class="media-body black-link-hover">
                                    <h3><a href="{% if entry.published %}{{ url_for('readpost', slug=entry.slug) }}
                                    {% else %}{{ url_for('editpost', slug=entry.slug) }}{% endif %}">
                                        {{ entry.title }}
                                    </a>
                                    </h3>
                                    <p>Posted {{ moment(entry.timestamp, local=true).fromNow() }}</p>
                                    <p>{{ entry.timestamp.strftime('%A %d %B %Y %H:%M') }}</p>
                                </div>
                                <hr class="separator1">
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        <h1><br></h1>
        </div>
    </div>

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}

{% endblock %}
