{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "blog" %}

{% block title %}Create Post - olirowan{% endblock %}

{% block app_content %}

    <div class="container post-text">
        <div class="row">
            <div class="col-md-12">
              <h3>
                  Admin Page - Create Post
              </h3>

              {% if form %}
                  {{ wtf.quick_form(form) }}
                  <br>
              {% endif %}

            </div>
        </div>
    </div>

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}

{% endblock %}
