{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "blog" %}

{% block title %}Explore - olirowan{% endblock %}

{% block app_content %}

    <div class="container post-text">
        <div class="row">
            <div class="col-md-6">
                <h3>Hi, {{ current_user.username }}!</h3>
                {% if form %}
                    {{ wtf.quick_form(form) }}
                    <br>
                {% endif %}
                {% for post in posts %}
                    {% include '_post.html' %}
                {% endfor %}
                <nav aria-label="...">
                    <ul class="pager spaceme">
                        <li class="previous{% if not prev_url %} disabled{% endif %}">
                            <a href="{{ prev_url or '#' }}">
                                <span aria-hidden="true">&larr;</span> Newer posts
                            </a>
                        </li>
                        <li class="next{% if not next_url %} disabled{% endif %}">
                            <a href="{{ next_url or '#' }}">
                                Older posts <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}

{% endblock %}
