{% block footer %}

    <div class="container footer pagefooter">
        <nav class="navbarnavbar-left navbar-default">
            <ul class="socials">
                <li><a href="https://github.com/olirowan" title="GitHub"><i class="fa socials fa-github fa-2x"
                                                                            aria-hidden="true"></i></a></li>

                <li><a href="https://www.reddit.com/u/olirowanxyz" title="Reddit"><i class="fa socials fa-reddit fa-2x"
                                                                                     aria-hidden="true"></i></a></li>

                <li><a href="https://www.linkedin.com/in/olirowan/" title="LinkedIn"><i class="fa socials fa-linkedin fa-2x"
                                                                                        aria-hidden="true"></i></a></li>
            </ul>
        </nav>
    </div>

{% endblock %}