{% block footer %}

    <div class="container pagefooter">
            <ul class="socials black-link-hover">
                <li><a target="_blank" href="https://github.com/olirowan" title="GitHub">
                    <i class="fab socials fa-github fa-2x" aria-hidden="true"></i></a></li>

                <li><a target="_blank" href="https://www.reddit.com/u/olirowanxyz" title="Reddit">
                    <i class="fab socials fa-reddit fa-2x" aria-hidden="true"></i></a></li>

                <li><a target="_blank" href="https://www.linkedin.com/in/olirowan/" title="LinkedIn">
                    <i class="fab socials fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
            </ul>
    </div>

{% endblock %}