{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Home - olirowan{% endblock %}

{% block app_content %}

    <div id="home-banner-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <br>
                    {#                    <img src="{{ url_for('static', filename='images/some_image_maybe.jpg') }}"#}
                    {#                         alt="olirowan"#}
                    {#                         title="olirowan"#}
                    {#                         class="img-rounded shadow">#}
                </div>
                <div class="col-md-6 about-me-title about-me">
                    <h2><br></h2>
                    <h2>olirowan</h2>
                    <br>
                    <p class="tagline">
                        A blog about building a blog - and some other stuff.
                    </p>
                    <p class="tagline">
                        Read more below.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="home-white-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="blog-post-top-separator">Blog Posts</h2>
                    <hr class="separator1">
                    <div class="row">
                        {% for entry in blogposts[:3] %}
                            <article class="media content-section">
                                <div class="col-2 col-sm-1 blog-icon">
                                    <h2 class="fas {{ entry.icon }}"></h2>
                                </div>
                                <div class="col-10">
                                    <div class="media-body black-link-hover">
                                        <h3><a href="{% if entry.published %}{{ url_for('readpost', slug=entry.slug) }}
                                    {% else %}{{ url_for('editpost', slug=entry.slug) }}{% endif %}">
                                            {{ entry.title }}
                                        </a>
                                        </h3>
                                        <p>Posted {{ moment(entry.timestamp, local=true).fromNow() }}</p>
                                    </div>
                                    <hr class="separator1">
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr class="separator1">
            <p class="blog-post-bottom-separator black-link-hover">
                You can find more posts like these on <a href="{{ url_for('blog') }}">/blog </a>
            </p>
        </div>
    </div>

    <div id="about-text-container">
        <div class="container">
            <h1><br></h1>
            <hr class="separator1">
            <div class="row about-text-row about-text-yellow">
                <div class="col-md-5">
                    <h2><br></h2>
                    <h2> I wanted to build a blog more than I actually wanted to write a blog.</h2>
                    <hr class="separator1">
                    <br>
                    <p>
                        The original aim was to find a project where I would be able to implement best security
                        practices while getting some familiarity with full stack development. This required a platform
                        that I could build where users could sign up and interact with something - like a simple blog
                        site.
                    </p>
                    <br>
                    <p>
                        The problem was that I didn't have anything to write about. Eventually I thought it would be a
                        good idea to get the site to a fairly stable state and publish it. Then I could continue its
                        development whilst documenting the changes along the way - this would provide the content for
                        blog posts.
                    </p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <img src="{{ url_for('static', filename='images/olirock.jpg') }}"
                         alt="olirowan"
                         title="olirowan"
                         class="img-rounded">
                </div>
            </div>
            <hr class="separator1">
            <h1><br></h1>
        </div>
    </div>

    <div id="home-white-container">
        <h1><br></h1>
        <div class="container black-link-hover">
            <hr class="separator1">
            <div class="row resources-text-row">
                <div class="col-md-5">
                    <h2><br></h2>
                    <h2>Resources that have carried the development of this site.</h2>
                    <hr class="separator1">
                    <br>
                    <p>
                        Most of the images and icons used throughout the site are sourced from

                        <a target="_blank" href="https://konpa.github.io/devicon/">Devicon</a>,

                        <a target="_blank" href="https://www.freepik.com/">freepik</a>,

                        <a target="_blank" href="https://unsplash.com/">Unsplash</a> and

                        <a target="_blank" href="https://fontawesome.com/">Font Awesome</a>.
                    </p>
                    <p>
                        The resources used to learn Flask exist in the form of the book written by
                        <a target="_blank" href="https://blog.miguelgrinberg.com/">Miguel Grinberg</a>
                        and the blog posts by
                        <a target="_blank" href="https://charlesleifer.com/">Charles Leifer</a>.
                    </p>
                    <p>
                        Design inspiration comes from the posts in the
                        <a target="_blank" href="https://old.reddit.com/r/webdev/">/r/webdev</a>
                        and
                        <a target="_blank" href="https://www.reddit.com/r/web_design/">/r/web_design</a>
                        communities.
                    </p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5 tools-resources">
                    <h2><br></h2>
                    <div class="row">
                        <div class="col-2">
                            <img src="{{ url_for('static', filename='images/icons/flask-plain.svg') }}"
                                 alt="Flask Logo"
                                 title="Flask"
                                 class="img-fluid">
                        </div>
                        <div class="col-10 my-auto">
                            <h4>
                                Developed with <a target="_blank" href="http://flask.pocoo.org/">Flask</a>
                            </h4>
                        </div>
                    </div>
                    <hr class="separator1">
                    <div class="row">
                        <div class="col-2">
                            <img src="{{ url_for('static', filename='images/icons/python-plain.svg') }}"
                                 alt="Python Logo"
                                 title="Python"
                                 class="img-fluid">
                        </div>
                        <div class="col-10 my-auto">
                            <h4>
                                Written in <a target="_blank" href="https://www.python.org/">Python</a>
                            </h4>
                        </div>
                    </div>
                    <hr class="separator1">
                    <div class="row">
                        <div class="col-2">
                            <img src="{{ url_for('static', filename='images/icons/bootstrap-plain.svg') }}"
                                 alt="Bootstrap Logo"
                                 title="Bootstrap"
                                 class="img-fluid">
                        </div>
                        <div class="col-10 my-auto">
                            <h4>
                                Designed with <a target="_blank" href="https://getbootstrap.com/">Bootstrap</a>
                            </h4>
                        </div>
                    </div>
                    <hr class="separator1">
                    <div class="row">
                        <div class="col-2">
                            <img src="{{ url_for('static', filename='images/icons/nginx-plain.svg') }}"
                                 alt="NGINX Logo"
                                 title="NGINX"
                                 class="img-fluid">
                        </div>
                        <div class="col-10 my-auto">
                            <h4>
                                Served with <a target="_blank" href="https://www.nginx.com/">NGINX</a>
                            </h4>
                        </div>
                    </div>
                    <hr class="separator1">
                    <div class="row">
                        <div class="col-2">
                            <img src="{{ url_for('static', filename='images/icons/letsencrypt-plain.svg') }}"
                                 alt="Let's Encrypt Logo"
                                 title="Let's Encrypt"
                                 class="img-fluid">
                        </div>
                        <div class="col-10 my-auto">
                            <h4>
                                Secured with <a target="_blank" href="https://letsencrypt.org/">Let's Encrypt</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="separator1">
            <h1><br></h1>
        </div>
    </div>

    <h1><br></h1>

{% endblock %}
